.trends
  &__grid
    display: grid
    grid-template-columns: repeat(4, 260px)
    grid-template-rows: 1fr repeat(2, 441px)
    grid-gap: 30px
  &__header
    grid-column: span 4

.t-card
  &__main
    max-width: 260px
    max-height: 350px
    overflow: hidden
  &__image
    object-fit: cover
    height: auto
    object-position: center
    height: 350px
.image
  &-set
    &-margin
      &-1
    &-scale
      max-width: 102%
      margin-top: 4px
      margin-left: -3px
      height: 350px
    &-size
      &-1
      &-2
      &-3
      &-4
      &-5
      &-6
      &-7