.trends
  padding-bottom: 60px
  &__flex
    margin: auto
    max-width: 1140px
    // display: grid
    // grid-template-columns: repeat(4, 260px)
    // grid-template-rows: 1fr repeat(2, 441px)
    // grid-gap: 30px
    // justify-content: center
  &__sort
    display: none
    &-active
      display: flex
      flex-wrap: wrap
      column-gap: 31px
      row-gap: 51px
      align-content: center
      width: 100%
      justify-content: center
    &-newest
      // display: none
    &-best
      // display: none
    &-soon
      // display: none
  &__header
    // grid-column: span 4
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 49px
    flex-basis: 100%
  &__title
    @include hk-grotesk-mixin
    font-style: normal
    font-weight: bold
    font-size: 48px
    line-height: 60px
    letter-spacing: 0.2px
    color: $primaryTextColor
    margin-block-start: 0
    margin-block-end: 0
  &__categories
    margin-right: 5px
  &__category
    font-family: $openSans
    font-style: normal
    font-weight: normal
    font-size: 18px
    line-height: 25px
    color: $primaryTextColor
    margin-left: 35px
    cursor: pointer
    &-active
      font-weight: bold

.t-card
  margin-right: -1px
  &__main
    max-width: 260px
    max-height: 350px
    overflow: hidden
    border-radius: 8px
    margin-bottom: 19px
  &__image
    object-fit: cover
    height: auto
    object-position: center
    height: 350px
  &__footer
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: center
    max-width: 260px
  &__title
    // @include hk-grotesk-mixin
    // display: contents
    font-family: $hkGrotesk
    font-style: normal
    font-weight: bold
    font-size: 24px
    line-height: 32px
    letter-spacing: 0.2px
    color: $primaryTextColor
    margin-block-start: 0
    margin-block-end: 0
    flex-grow: 1
    flex-basis: 100%
    padding-left: 10px
  &__price
    font-family: $openSans
    font-style: normal
    font-weight: normal
    font-size: 20px
    line-height: 36px
    color: $secondaryTextColor
    padding-left: 10px
    padding-top: 2px
  &__icon
    color: $linkColor
    font-style: normal
    font-weight: 900
    font-size: 20px
    line-height: 32px
    letter-spacing: 0.166667px
  &__link
    margin-top: 7px
    margin-right: 10px
  &__more
    background-color: $subcribeBgColor
    width: 100%
    height: 100%
    display: flex
    align-items: center
    align-content: center
    flex-wrap: wrap
    justify-content: center
    cursor: pointer
    padding: 100px 20px
    align-content: stretch
    &-icon
      font-style: normal
      font-weight: 900
      font-size: 32px
      line-height: 37px
      color: #ffffff
      margin-top: 10px
      align-self: end
    &-text
      @include hk-grotesk-mixin
      font-style: normal
      font-weight: bold
      font-size: 24px
      line-height: 32px
      text-align: center
      letter-spacing: 0.2px
      color: #ffffff
      margin-top: 22px
// .image
//   &-set
//     &-margin
//       &-1
//     &-scale
//       max-width: 102%
//       margin-top: 4px
//       margin-left: -3px
//       height: 350px
//     &-size
//       &-1
//       &-2
//       &-3
//       &-4
//       &-5
//       &-6
//       &-7